.layout {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    align-items: center;
    justify-content: center;
}

.groups {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.button_group {
    background-color: var(--gray-700);
    padding: var(--space-xs);
    border-radius: var(--radius-md);
}

.button_group button {
    background-color: var(--gray-700);
    color: var(--white);
    padding: var(--space-sm);
    border: 1px solid var(--gray-700);
    border-radius: var(--radius-md);
}

.button_group button:hover, .button_group button.active {
    background-color: var(--gray-800);
}

.search {
    flex: 1;
    max-width: 22rem;
    min-width: 12rem;
    height: var(--space-sm);
    padding: var(--space-md);
    background-color: var(--gray-700);
    color: var(--white);
    border: 1px solid var(--gray-800);
    border-radius: var(--radius-md);
}

@media screen and (min-width: 768px) {
    .layout {
        flex-direction: row;
        justify-content: space-between;
    }

    .groups {
        flex-direction: row;
    }
}